body {
	background: linear-gradient(-45deg, #f2e4e0, #ffb6d2, #aee8fd, #ffb6d2);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100%;
}

@keyframes gradient {
	to {
		background-position: 0% 50%;
	}
	from {
		background-position: 100% 50%;
	}

}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(-50px);} 
    40% {transform: translateY(-80px);} 
    60% {transform: translateY(-65px);} 
 } 

.container{
    animation: bounce 2s ease infinite;
    margin-top: 450px;
    margin-left: -100px;
}

.birthday, .surali, .date{
    font-family: droog,sans-serif;
    font-weight: 900;
    font-style: normal;
    color:white;
    font-size: 100px;
    position: fixed;
    left: 50%;
    margin-left: -230px;
    top:50%;
}

a:visited{
    color: #ff2a7c;
    font-family: blow-up,sans-serif;
    font-weight: 400;
    font-style: normal;
}

div:hover{
    color: #7812c2;
    font-family: blow-up,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110px;
}

a:hover{
    color: #3cefff;
}

.happy{
    transform: rotate(90deg);
    margin-left: -400px;
    margin-top: -80px;
    font-family: droog,sans-serif;
    font-weight: 900;
    font-style: normal;
    color:white;
    font-size: 70px;
    position: fixed;
    left: 50%;
    top:50%;
}

.birthday{
    margin-top: -200px;

}

.surali{
    margin-top: -100px;
}

@media only screen and (max-width: 599px) {
    .birthday, .surali, .date{
        font-size: 200px;
    }
}


@media only screen and (min-width: 600px) {
    .birthday, .surali, .date{
        font-size: 200px;
    }
}


@media only screen and (min-width: 889px) {
    .birthday, .surali, .date{
        font-size: 200px;
    }
}